{% extends 'front/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block base_content %}

<div class="container my-5">
  <div class="row">
    <div class="col-lg">
      <p>{{ user.email }} &middot; <a href="{% url 'account_logout' %}">Log out</a></p>
      <p><b>API key</b></p>
      <a class="btn btn-primary" href="#" role="button">Generate API key</a>
    </div>
    <div class="col-lg mt-5 mt-lg-0">
      <p><b>GET data</b></p>
      {% for order in orders %}
        <p>
          ID: <code>{{ order.uuid }}</code><br />
          Date/time created: <code>{{ order.created_at }}</code><br />
        </p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
