{% extends 'front/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block base_content %}

<div class="container my-5">
  <div class="row">
    <div class="col-sm">
      <p>{{ user.email }} &middot; <a href="{% url 'account_logout' %}">Log out</a></p>
      <p><b>API key</b></p>
      <p><code>{{ key }}</code></p>
      <p><b>API endpoints</b></p>
      <p>Orders</p>
      <p><code>https://www.spannel.com/api/orders/</code></p>
      <p><kbd>GET</kbd> list of orders</p>
      <p><kbd>POST</kbd> new order</p>
      <p><code>https://www.spannel.com/api/orders/[ID]</code></p>
      <p><kbd>GET</kbd> single order</p>
      <p><kbd>PUT/PATCH</kbd> single order</p>
      <p><kbd>DELETE</kbd> single order</p>
      <div class="p-3 bg-light rounded-3 my-4">
        <small><table class="table table-sm table-borderless">
          <thead>
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Type</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">uuid</th>
              <td>UUID</td>
              <td><code>primary key</code></td>
            </tr>
            <tr>
              <th scope="row">item_type</th>
              <td>Char</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">item_value</th>
              <td>Integer (cents)</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">pickup_date</th>
              <td>Date</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">pickup_time</th>
              <td>Time</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">dropoff_date</th>
              <td>Date</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">dropoff_time</th>
              <td>Time</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">expected_completion_date</th>
              <td>Date</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">expected_completion_time</th>
              <td>Time</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">trip_distance</th>
              <td>Integer (km)</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">courier</th>
              <td>Courier ID</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">vendor</th>
              <td>Vendor ID</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">customer</th>
              <td>Customer ID</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">created_at</th>
              <td>DateTime</td>
              <td><code>Auto</code></td>
            </tr>
            <tr>
              <th scope="row">modified_at</th>
              <td>DateTime</td>
              <td><code>Auto update</code></td>
            </tr>
            <tr>
              <th scope="row">acknowledged_at</th>
              <td>DateTime</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">picked_up_at</th>
              <td>DateTime</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">delivered_at</th>
              <td>DateTime</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">completed_at</th>
              <td>DateTime</td>
              <td></td>
            </tr>
          </tbody>
        </table></small>
      </div>
      <p>Vendors</p>
      <p><code>https://www.spannel.com/api/vendors/</code></p>
      <p><kbd>GET</kbd> list of vendors</p>
      <p><kbd>POST</kbd> new vendor</p>
      <p><code>https://www.spannel.com/api/vendors/[ID]</code></p>
      <p><kbd>GET</kbd> single vendor</p>
      <p><kbd>PUT/PATCH</kbd> single vendor</p>
      <p><kbd>DELETE</kbd> single vendor</p>
      <div class="p-3 bg-light rounded-3 my-4">
        <small><table class="table table-sm table-borderless">
          <thead>
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Type</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">uuid</th>
              <td>UUID</td>
              <td><code>primary key</code></td>
            </tr>
            <tr>
              <th scope="row">first_name</th>
              <td>Char</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">last_name</th>
              <td>Char</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">email</th>
              <td>Email</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">business_name</th>
              <td>Char</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">address</th>
              <td>Char</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">city</th>
              <td>Char</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">province</th>
              <td>Char</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">postal_code</th>
              <td>Char</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">country</th>
              <td>Char</td>
              <td><code>required</code></td>
            </tr>
            <tr>
              <th scope="row">is_active</th>
              <td>Boolean</td>
              <td><code>default=True</code></td>
            </tr>
            <tr>
              <th scope="row">created_at</th>
              <td>DateTime</td>
              <td><code>Auto</code></td>
            </tr>
            <tr>
              <th scope="row">modified_at</th>
              <td>DateTime</td>
              <td><code>Auto update</code></td>
            </tr>
          </tbody>
        </table></small>
      </div>
    </div>
    <div class="col-sm mt-5 mt-lg-0">
      <p><b>Orders</b></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/time created</th>
            <th scope="col">Item type</th>
            <th scope="col">Item value</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.created_at}}</td>
              <td>{{ order.item_type }}</td>
              <td>{{ order.item_value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><b>Vendors</b></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/time created</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for vendor in vendors %}
            <tr>
              <td>{{ vendor.created_at}}</td>
              <td>{{ vendor.city }}</td>
              <td>{{ vendor.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><b>Couriers</b></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/time created</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for courier in couriers %}
            <tr>
              <td>{{ courier.created_at}}</td>
              <td>{{ courier.city }}</td>
              <td>{{ courier.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><b>Customers</b></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/time created</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
            <tr>
              <td>{{ customer.created_at}}</td>
              <td>{{ customer.city }}</td>
              <td>{{ customer.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
