{% extends 'front/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block base_content %}

<div class="container my-5">
  <div class="row">
    <div class="col-lg">
      <p><b>Spannel</b> is a delivery API.</p>
      <p><b>Developers</b> can use the Spannel API to enable <b>vendors</b> to offer delivery for their online sales orders.</p>
      <p><b>Developers</b> can also use the Spannel API to enable <b>couriers</b> to receive these delivery orders and fulfill them for vendors.</p>
      <p>Learn more about Spannel in this <a href="https://spannel.medium.com/what-is-spannel-adb8f4dc8907" target="_blank">blog post</a>.</p>
    </div>
    <div class="col-lg mt-5 mt-lg-0">
      {% if user.is_authenticated %}
        <p><a href="{% url 'account_logout' %}">Log out</a></p>
      {% else %}
        <p><a href="{% url 'account_login' %}">Log in</a></p>
        <p><a href="{% url 'account_signup' %}">Sign up</a></p>
      {% endif %}
      <p>{{ user.password }}</p>
    </div>
  </div>
</div>

{% endblock %}
