{% extends 'base.html' %}

{% block title %}{% block head_title %}{% endblock %}{% endblock %}

{% block base_content %}

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">

        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}

        <p><a href="{% url 'spannelfront:home' %}">Home</a></p>
        
        {% if user.is_authenticated %}
          <p><a href="{% url 'account_email' %}">Change e-mail</a> &middot;
            <a href="{% url 'account_logout' %}">Log out</a>
          </p>
        {% endif %}

        {% block content %}
        {% endblock %}

        {% block extra_body %}
        {% endblock %}

      </div>
    </div>
  </div>
{% endblock %}
